$white: #f7f9fd;
$black: #0e1c32;

$grey: #93999a;
$grey-lighter-1: #a5acad;
$grey-lighter-2: #ced5d7;
$grey-darker-1: #93999a;

$primary: #386abb;
$primary-lighter-1: #739cde;
$primary-lighter-2: #8bb4f5;
$primary-darker-1: #2958a5;
$primary-darker-2: #1b4282;

$secondary: #efc20f;
