@import "../../PublicStyles/DesignSystem.scss";

.c-pokemon-list {
  @media (min-width: $breakpoint-md) {
    margin-top: 20px;
  }

  &--cards {
    display: flex;
    flex-wrap: wrap;
    column-gap: 2%;
    row-gap: 1.7vw;

    @media (max-width: $breakpoint-md) {
      display: none;
    }
  }

  &--items {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    row-gap: 15px;
    padding: 20px 0;
    background: rgba($primary-lighter-2, 0.2);
    border: 1px solid $grey-lighter-1;
    border-radius: 15px;

    @media (min-width: $breakpoint-md) {
      display: none;
    }
  }
}
